.container {
    padding: 20px;
    background-color: var(--bgSoft);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .addButton {
    color: var(--textSoft);
    background: var(--bg);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .table {
    width: 100%;
  }
  .table td {
    padding: 10px;
  }
  .product{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .productImage {
    border-radius: 50%;
    object-fit: cover;
  }
  .buttons {
    display: flex;
    gap: 10px;
  }
  .button {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--textSoft);
    border: none;
    cursor: pointer;
  }
  .view{
      background-color: teal;
  
  }
  .delete{
      background-color: crimson;
  }
  