.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: var(--bg);
  }
  .form {
    width:25%;
    height: 39%;
    border-radius: 10px;
    background: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .form input {
    padding: 20px;
    width: 70%;
    background: var(--bg);
    border: 2px solid #2e374a;
  }
  .form button{
      padding: 20px;
      cursor: pointer;
      width: 70%;
      background: teal;
      border-radius: 5px;
      text-align: center;
      color: white;
  }
  .error{
    color: red;
    font-size: 12px;
  }